extends layout

block content
  script(src='/javascripts/raphael.min.js')
  script(src='/javascripts/paint.js')
  .row.page-header
    .col-lg-12
      h1 Image 1
  .row
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-12.location-map
          .panel#pnlSurgery.panel-primary
            .panel-heading
              h2.panel-title Image Panel
            .panel-body
              #myCanvas
                table.pull-right
                  tr
                    td
                      a.btn#btnSave.btn-default(href='location/comments/new', style='height:35px;width:150px') Save Segmentation
                  tr
                    td
                      br
                  tr
                    td
                      a.btn#btnNew.btn-default(style='height:35px;width:150px') New Organ
                  tr
                    td
                      br
                  tr
                    td
                      a.btn#btnRestart.btn-default(href='', style='height:35px;width:150px') Start Fresh
              <!--img#serifos.img-responsive(src='/images/Serifos.JPG' style='display:all')-->
      .row
        .col-xs-12
          .panel.panel-primary.comments-panel
            .panel-heading
              h2.panel-title User Comments
            .panel-body.comments-container
              .row
                .comments
                  .well.well-sm.comments-header
                    span.commentsAuthor Nikolaos Tsanakas
                    small.commentsTimestamp  10 April 2017
                  .col-xs-12
                    p Cut myself a liver and a spleen.
              .row
                .comments
                  .well.well-sm.comments-header
                    span.commentsAuthor Tyrion Lannister
                    small.commentsTimestamp  12 July 2015
                  .col-xs-12
                    p I prefer lungs.
