extends layout

block content
  script(src='/javascripts/raphael.min.js')
  script(src='/javascripts/paint.js')
  .row.page-header
    .col-lg-12
      h1 Image 1
  .row
    .col-xs-12.col-md-12
      .row
        .col-xs-12.col-sm-12.playfield-map
          .panel#pnlSurgery.panel-primary
            .panel-heading
              h2.panel-title Image Panel
            .panel-body
              #myCanvas
                table.pull-right
                  tr
                    td
                      a.btn#btnClose.btn-default(style='height:35px;width:150px') Close Segment
                  tr
                    td
                      br
                  tr
                    td
                      a.btn#btnRestart.btn-default(href='', style='height:35px;width:150px') Start Fresh
                  tr
                    td
                      br
                  tr
                    td
                      a.btn#btnNext.btn-default(href='', style='height:35px;width:150px') Next Image
      .row
