extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Comment and Save
      .row
        .col-xs-12.col-md-6
          form.form-horizontal(action="/playfield", method="get", role="form")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="name") Username:
              .col-xs-10.col-sm-10
                input#name.form-control(name="name")
            .form-group
              label.col-xs-10.col-sm-2.control-label(for="rating") Number of Segments:
              .col-xs-12.col-sm-2
                select#rating.form-control.input-sm(name="rating")
                  option 9
                  option 8
                  option 7
                  option 6
                  option 5
                  option 4
                  option 3
                  option 2
                  option 1
            .form-group
              label.col-sm-2.control-label(for="comments") Comments:
              .col-sm-10
                textarea#comments.form-control(name="comments", rows="5")
            a.btn.btn-default.pull-right Save
        .col-xs-12.col-md-4
